body {
    display: flex;
    justify-content: center;
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background: url(images/bg_image.jpg);
    background-size: cover;
}

.wrapper{
    background: rgba(205, 69, 191, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(205, 69, 191, 0.84);
    height: 95vh;
    width: 90%;
    /* border-radius: 10%; */
    text-align: center;

}


h1 {
    
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.num{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 10px;
}

.num h2{
    display: flex;
    border: 10px solid rgb(212, 23, 193);
    border-radius: 50%;
    padding:80px ;
    background: rgba(205, 69, 191, 0.84);
}

#increment-btn {
    background: rgb(212, 23, 193);
}
#increment-btn:active{
    opacity: 0.85;
}
#save-btn {
    background: rgb(212, 23, 193);
}

#save-btn:active{
    opacity: 0.85;
}

#save-el{
    color: white;
}